* {
    margin: 0px;
    padding: 0px;
}

.linha-produto {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    height: 310px;

    margin-left: 150px;
    width: 80%;
    border: 1px solid black;
}