.caixa-container {
    display: flex;
    height: 500px;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
}

.caixa-inputs {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    
}

.input1 {
    height: 30px;
}

.input2 {
    height: 60px;
}

.teste {
    display: flex;
    width: auto;

    justify-content: space-around;
}

.teste2 {
    border: solid 1px red;
    height: 300px;
    justify-content: space-between;
}